@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  width: 1060px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding-left: 185px;
}

.logo-link {
  position: absolute;
  top: 0;
  left: 0;
}

.main-menu {
  display: flex;
  justify-content: space-between;
}

.main-menu-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 500px;
  list-style: none;
  flex-wrap: wrap;
  gap: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-menu-item {}

.main-menu-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  position: relative;
  display: block;
}

.menu-active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -22px;
  left: -1px;
  border-top: 2px solid rgba(117, 98, 87, 1);
}

.user-menu-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  width: 300px;
  justify-content: flex-end;
}

.user-menu-item {}

.link-search {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../images/search.svg");
  width: 44px;
  height: 64px;
}

.link-favourits {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: #000000;
  background-image: url("../images/heart.svg");
  width: 44px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.numbers {
  background-color: #7db54f;
  display: flex;
  min-width: 10px;
  height: 18px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1px 5px;
  position: absolute;
  right: 5px;
  top: 11px;
}

.link-want {
  background: #756157;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px;
  margin-top: 14px;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 160px;
  height: 36px;
  box-sizing: border-box;
}

.link-want:hover {
  background: #615048;
}

.link-want:focus {
  background: #615048;
}

.link-want:active {
  background: #756157;
}

.link-want:disabled {
  background: #E5E5E5;
}

.welcome {
  background-color: #82b3d3;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: left 0 bottom 0, center top;
  padding: 51px 0 82px;
  background-size: 100% 57px, cover;
  min-height: 352px;
}

.panorama {
  flex-shrink: 0;
  padding: 0;
  display: block;
  margin: 0 auto;
}

.sedona-city {
  display: flex;
  width: 752px;
  margin: 0;
  padding: 0;
  margin: 69px 224px 25px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.sedona-reasons {
  margin: 0;
  padding: 0;
  margin-bottom: 90px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.reasons-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
}

.reasons-item-blue {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 1200px;
  display: flex;
}

.reasons-blue-container {
  width: 400px;
  padding: 103px 0 94px 0;
  background: #82b3d3;
}

.reasons-item {
  background: #83b3d31f;
  width: 400px;
  margin: 0;
  padding: 0;
  padding-top: 114px;
  padding-bottom: 113px;
  text-align: center;
}

.reasons-item:nth-child(2n) {
  background: #83b3d333;
}

.city-1 {
  height: 100%;
  object-fit: cover;
}

.reasons-title {
  color: #000000;
  margin: 0 auto 60px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.reasons-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  border-top: 2px solid rgba(0, 0, 0, 0.302);
  left: 50%;
  transform: translateX(-50%);
  top: 85px;
}

.reasons-blue-container .reasons-title::after {
  border-color: rgba(255, 255, 255, 0.302);
}

.reasons-item-blue .reasons-title {
  color: rgb(255, 255, 255);
}

.reasons-descriptions {
  color: rgb(51, 51, 51);
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 254px;
}

.reasons-item-blue .reasons-descriptions {
  color: #ffffff;
}

.canyon {
  order: -1;
}

.invitation-title {
  margin: 0 auto;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-align: center;
  margin-top: 64px;
  text-transform: uppercase;
  width: 600px;
}

.service {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 64px;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.service-list:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../images/house.svg");
  background-size: 75px 72px;
}

.service-list {
  display: flex;
}

.service-item {
  text-align: center;
  width: 400px;
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 0.122);
}

.service-item:nth-child(2n) {
  background-color: rgb(255, 255, 255);
}

.service-title {
  margin: 0 auto;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  padding-top: 184px;
}

.service-descriptions {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  text-align: center;
  margin: 28px auto 82px;
  width: 230px;
}

.service-item-house {
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-position: 162px 83px;
}

.service-item-food {
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  background-position: center 83px;
}

.service-item-gift {
  background-image: url("../images/gift.svg");
  background-repeat: no-repeat;
  background-position: 167px 80px;
}

.question {
  padding-top: 96px;
  text-align: center;
  padding-bottom: 95px;
}

.question-title {
  padding: 0;
  margin: 0 auto 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  width: 600px;
}

.offer {
  padding: 0;
  margin: 0 auto 55px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  text-align: center;
  width: 600px;
}

.button {
  background: #756157;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 50px;
  max-width: 600px;
  box-sizing: border-box;
}

.button:hover {
  background: #615048;
}

.button:focus {
  background: #615048;
}

.button:active {
  background: #756157;
}

.button:disabled {
  background: #E5E5E5;
}

.subscribe {
  background-color: #8fabb9;
  margin: 0;
  padding: 0;
  background-image: url("../images/subs—Åribe.jpg");
  color: #ffffff;
  padding-top: 96px;
  min-height: 415px;
  box-sizing: border-box;
}

.subscribe-title {
  padding: 0;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  max-width: 600px;
  text-align: center;
  margin-bottom: 22px;
}

.guaranties {
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
  max-width: 500px;
}

.mail-form {
  width: 684px;
  display: flex;
  text-align: center;
  margin: 54px auto;
}

.subscribe-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
  width: 452px;
  border: none;
  min-height: 52px;
  padding-left: 20px;
  box-sizing: border-box;
}

.button-subscribe {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background: #82B3D3;
  width: 232px;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  border: none;
  font-family: "PT Sans", Arial, sans-serif;
}

.button-subscribe:hover {
  background: #68A2CA;
}

.button-subscribe:focus {
  background: #68A2CA;
}

.button-subscribe:active {
  background: #82b3d3;
}

.button-subscribe:disabled {
  background: #e5e5e5;
}

.submit {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
}

.links {
  display: flex;
  padding-bottom: 20px;
}

.links-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  margin-top: 44px;
  margin-bottom: 14px;
  margin-left: 69px;
  margin-right: 24px;
}

.link-vk {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../images/social-vk.svg");
  width: 47px;
  height: 40px;
}

.link-telegram {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../images/social-telegram.svg");
  width: 47px;
  height: 40px;
}

.link-youtube {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../images/social-youtube.svg");
  width: 47px;
  height: 40px;
}

.number-phone {
  padding-right: 142px;
  padding-top: 45px;
  padding-left: 215px;
  color: #000000;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}

.number {
  color: #000000;
  text-decoration: none;
  display: block;
}

.number:hover {
  color: #756157;
}

.number:focus {
  color: #756157;
}

.number:active {
  color: rgba(117, 97, 87, 0.302);
}

.logo-html {
  padding-top: 48px;
  padding-left: 93px;
}

.logo-link-html {}

.catalog-main {
  color: white;
  background-image: url("../images/catalog/filtr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}

.catalog-title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  padding-top: 36px;
  padding-left: 72px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.breadcrumbs-link {
  display: block;
  background-image: url("../images/catalog/house.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 19px;
  margin-left: 69px;
  margin-top: 9px;
}

.breadcrumbs-hotels {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-left: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.breadcrumbs-hotels::after {
content: "";
width: 12px;
height: 12px;
background-image: url("../images/catalog/arrow.svg");
color: rgb(255, 255, 255);
background-repeat: no-repeat;
top: 15px;
left: 6px;
position: absolute;
}

.search-list {
  display: flex;
  padding-top: 40px;
}

.search-option-first {
  border: none;
  padding-left: 68px;
}

.search-option-second {
  border: none;
  padding-left: 49px;
}

.search-option-third {
  border: none;
  padding-left: 131px;
}

.search-option-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 25px;
}

.search-option-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  padding-left: 3px;
}

.checkbox-label {
  display: inline-block;
  padding-left: 36px;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}


.checkbox-label::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 4px;
  left: 0;
  top: 0;
}

.checkbox-label::after {
  content: "";
  width: 9px;
  height: 5px;
  position: absolute;
  left: 4px;
  top: 6px;
  border-left: 2px solid rgba(63, 94, 114, 1);
  border-bottom: 2px solid rgba(63, 94, 114, 1);
  transform: rotate(-45deg);
  display: none;
}

.checkbox-input:checked+.checkbox-label::after {
  display: block;
}

.radio-label {
  display: inline-block;
  padding-left: 36px;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}


.radio-label::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  left: 3px;
  top: 0px;
}

.radio-label::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 8px;
  top: 5px;
  background-color: rgba(63, 94, 114, 1);
  display: none;
  border-radius: 50%;
}

.radio-input:checked+.radio-label::after {
  display: block;
}

.search-option-item:nth-child(1) {
  padding-top: 2px;
}

.search-option-item:nth-child(2) {
  padding-top: 16px;
}

.search-option-item:nth-child(3) {
  padding-top: 16px;
}

.cost {
  display: flex;
  flex-wrap: wrap;
}

.hotel-cost {
  display: flex;
  gap: 2px;
  position: relative;
}

.cost-from {
  width: 141px;
  height: 48px;
  border-radius: 4px 0 0 4px;
  border: none;
}

.cost-from-filter {
  position: absolute;
  top: 14px;
  left: 109px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.302);
}

.cost-till {
  width: 139px;
  height: 48px;
  border-radius: 0 4px 4px 0;
  border: none;
}

.cost-till-filter {
  position: absolute;
  top: 14px;
  right: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.302);
}

.container-scale {
  width: 287px;
  position: relative;
  height: 20px;
  margin-top: 43px;
}

.scale {
  background-color: #808080;
  width: 287px;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 3px;
  z-index: 1;
}

.range {
  background-color: #ffffff;
  width: 226px;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 3px;
  z-index: 5;
}

.handler {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  position: absolute;
  border: none;
  border-radius: 4px;
  z-index: 10;
}

.handler-min {
  top: -8px;
  left: 3px;
}

.handler-max {
  top: -8px;
  right: 58px;
}

.buttons {
  display: block;
  width: 200px;
  padding-top: 56px;
  padding-left: 54px
}

.button-apply {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background: #82B3D3;
  width: 191px;
  height: 36px;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  font-family: "PT Sans", Arial, sans-serif;
}

.button-throw {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background: none;
  width: 191px;
  height: 36px;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  font-family: "PT Sans", Arial, sans-serif;
  padding-top: 40px;
}

.search-hotels {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.found {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding: 56px 71px 47px;
}

.select-control {
  margin: 0;
  padding: 0;
  margin-left: 131px;
  margin-top: 49px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border-radius: 4px;
  border: 2px solid rgb(229, 229, 229);
  width: 292px;
  height: 49px;
}

.button-cards {
  margin: 0;
  padding: 0;
  display: flex;
  width: 230px;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 51px;
  margin-left: 2px;
}

.button-card {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 4px;
}

.cards {
  position: absolute;
  top: 13px;
  left: 16px;
  display: block;
  width: 47px;
  height: 47px;
  background-image: url("../images/catalog/view1.svg");
  background-repeat: no-repeat;
  text-align: center;
  border: #000000;
}

.big-card {
  position: absolute;
  top: 13px;
  left: 15px;
  display: block;
  width: 47px;
  height: 47px;
  background-image: url("../images/catalog/view2.svg");
  background-repeat: no-repeat;
  text-align: center;
}

.list-card {
  position: absolute;
  top: 13px;
  left: 12px;
  display: block;
  width: 47px;
  height: 47px;
  background-image: url("../images/catalog/view3.svg");
  background-repeat: no-repeat;
  text-align: center;
}

.hotel-catalog {
  margin-top: 0;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding: 0;
  margin: 0;
  margin: 0 69px;
  list-style: none;
  row-gap: 19px;
}

.hotel-item {
  width: 300px;
  min-height: 398px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  padding: 20px;
}

.hotel-link {
  text-decoration: none;
  color: #000000;
}

.hotel-title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-top: 12px;
}

.hotel-image {}

.conditions {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 16px;
}

.details {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 36px 36px;
  row-gap: 16px;
  column-gap: 20px;
}


.hotel-details {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding-top: 7px;
  padding-left: 27px;
}

.hotel-favoutites {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background-color: #82b3d3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding-top: 7px;
  padding-left: 21px;
}

.stars-rating {
  margin: 0;
  height: 17px;
  background: url("../images/catalog/star.svg") space 0 0;
  margin-top: 10px;
}

.stars-raiting-one {
  width: 20px;
}

.stars-raiting-two {
  width: 41px;
}

.stars-raiting-three {
  width: 65px;
}

.stars-raiting-four {
  width: 88px;
}

.stars-raiting-five {
  width: 107px;
}

.rating {
  background-color: rgba(242, 242, 242, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-left: 24px;
}

.subscribe-1 {
  margin: 0;
  padding: 0;
  color: #000000;
  padding-top: 96px;
  min-height: 415px;
  box-sizing: border-box;
}

.mail-colour {
  background-color: #F2F2F2;
}
